.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  max-width: 1200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-text {
  align-items: center;
}

.profile-text h1 {
  font: 600 4.5rem/1.1 "Poppins", sans-serif;
  max-width: 10ch;
  color: var(--g11);
  margin-bottom: 30px;
}

.profile-text p {
  font: 400 1.125rem/1.5 "Fira Sans", sans-serif;
  color: var(--g7);
}

.profile-text strong {
  font-weight: 600;
  color: var(--g11);
}

.profile-divider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 120px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.divider {  
  width: 200px;
  height: 2px;
  background: var(--g4);
}

@media (max-width:1000px) {
  .profile {
    grid-template-columns: 1fr;
  }
  .profile-text h1 {
    font-size: 3rem;
    max-width: 30ch;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .profile-text h1 {
    font-size: 2.5rem;
  }

  .profile-text p {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .profile {
    margin-top: 10px;
  }
  .profile-text h1 {
    font-size: 2rem;
  }

  .profile-text p {
    font-size: 0.675rem;
  }
  .profile-divider {
    margin-top: 20px;
  }
  .profile-divider img {
    width: 10%;
  }  
  .divider {  
    width: 100px;
    height: 2px;
    background: var(--g4);
  }
}