:root {
  --w: #ffffff;
  --g1: #f7f7f7;
  --g2: #ededed;
  --g3: #dedede;
  --g4: #cccccc;
  --g5: #b2b2b2;
  --g6: #9c9c9c;
  --g7: #717171;
  --g8: #595959;
  --g9: #404040;
  --g10: #2e2e2e;
  --g11: #111111;
  --g12: #000000;
  --p1: #00f4ba;
  --p2: #10e8c7;
  --p3: #1ddabe;
  --p4: #2cbba6;
  --p5: #329f8f;
  --p6: #388b7f;
  --p7: #367269;
  --p8: #2d4f4a;
  --p9: #253432;
}