#contact {
  background: var(--g12);
  margin-top: 120px;  
  
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 60px 20px;
}

.social-media {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.footer-container .email {
  font: 600 1.5rem/1.1 "Poppins", sans-serif;
  color: var(--w);
  margin-top: 40px;
}

.footer-container .email::after {
  content: "";
  display: block;
  height: 2px;
  width: auto;
  background-color: var(--p5);
  margin-top: 10px;
}


.footer-container .email:hover, 
.footer-menu a:hover{
  color: var(--g5);
}

.footer-menu ul {
  display: flex;
  gap: 40px;
  align-items: center;
  font: 400 1.5rem/1.1 "Fira Sans", sans-serif;  
  margin-top: 80px;
}

.footer-menu a {
  color: var(--g1);  
}

.footer-menu a:hover {
  opacity: 0.4;
}

.social-media li a:hover {
  opacity: 0.4;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-info h2{
  font: 700 2rem/1.1 "Poppins", sans-serif; 
  color: var(--w);
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .footer-container .email,
  .footer-menu ul  {
    font-size: 1.125rem;
  }
}

@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }

  .footer-menu ul {
    margin-top: 40px;
  }

  .contact-info {
    gap: 0px;
  }
}

@media (max-width: 400px) {
  #contact {
    margin-top: 40px;  
  }
  .footer-container {
    padding: 30px 0 60px 0;
  }

  .footer-container .email,
  .footer-menu ul  {
    font-size: 0.675rem;
  }

  .footer-container .email,
  .footer-menu ul {
    margin-top: 20px;
  }
  .footer-container .email::after {
    margin-top: 5px;
  }
  .social-media {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  .social-media img {
    width: 70%;
  }
  .footer-logo {
    width: 50%;
  }
}