.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 60px 20px;
  box-sizing: border-box;
  max-width: 1200px;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.header ul li a {
  color: var(--g1);
  font: 400 1.125rem/1.5 "Fira Sans", sans-serif;
}

.header ul li a:hover {
  color: var(--g4);
}

.mobile-menu-btn {
  background: transparent;
  border: none;
  display: none;
}

.close-menu-btn {
  background: transparent;
  border: none;
  display: none;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 80px;
  }

  .header ul li a {
    background: var(--g12);
    padding: 20px;
    border-radius: 5px;
  }
}

@media (max-width:600px) {
  .header {
    padding: 10px 0px;
    position: relative;
  }

  .mobile-menu-btn, .close-menu-btn {
    display: initial;
  }

  .header-menu {
    background: var(--g12);
    display: none;
    flex-direction: column;
  }

  .hide-btn {
    display: none;
  }

  .active-menu {
    display: flex;
  }

  .header ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
    gap: 0px;
  }

  .close-menu-btn {
    align-self: flex-end;
  }

  .header ul li {
    margin-bottom: 10px;
  }

  .header ul li a {
    background: none;
    display: block;
  }

  .header ul li a::after {
    content: "";
    width: 80vw;
    height: 2px;
    background-color: var(--g12);
    display: block;
    margin-top: 10px;
  }
}

@media (max-width:400px) {
  .header {
    padding: 20px 0px;
    gap: 40px;
  }

  .header ul li {
    margin-bottom: 10px;
  }

  .header ul li a {
    font-size: 1rem;
  }

}