#projects {
  display: grid;
  margin-top: 120px;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.projects-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.projects-title h2 {
  text-transform: uppercase;
  font: 600 2.25rem/1.1 "Fira Sans", sans-serif;
  color: var(--p5);
  margin-bottom: 40px;
}

.projects-title h1 {
  font: 600 4rem/1.1 "Poppins", sans-serif;
}

.project {
  margin-top: 60px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: 7fr 5fr;
  align-items: center;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.project img {
  border-radius: 5px;
  border: 1px solid var(--g7);
}

.project-desc {
  margin-left: 120px;
}

.project-desc h3 {
  font: 600 2rem/1.1 "Poppins", sans-serif;
  color: var(--g11);
}

.project-desc p {
  font: 400 1.125rem/1.5 "Fira Sans", sans-serif;
  color: var(--g7);
  max-width: 35ch;
}

.project-desc strong {
  font-weight: 600;
  color: var(--g11);
}

.project-desc h4 {
  font: 600 1.125rem/1.1 "Fira Sans", sans-serif;
  text-transform: uppercase;
  color: var(--g11);
}

.project ul {
  font: 400 1.125rem/1.5 "Fira Sans", sans-serif;
  color: var(--g7);
  padding-bottom: 20px;
}

.project ul li {
  padding-bottom: 8px;
  position: relative;
}

.project ul li::before {
  content: '';
  width: 8px;
  height: 4px;
  background: var(--p5);
  position: absolute;
  left: -15px;
  top: 13px;
}

.project-bg {
  background: linear-gradient(to right, var(--g1) 30%, var(--g11) 0%);
}

.project-bg .project-desc h4,
.project-bg .project-desc h3,
.project-bg .project-desc strong {
  color: var(--w);
}

.project-bg .project-desc p,
.project-bg .project-desc ul {
  color: var(--g5);
} 

@media (min-width: 1000px) {
 
}

@media (max-width:1000px) {
  #projects {
    justify-content: center;
  }

  .projects-title {
    grid-template-columns: 1fr;
  }

  .projects-title h1 {
    font-size: 3rem;
    text-align: center;
  }

  .projects-title h2 {
    text-align: center;
  }

  .projects-img {
    display: none;
  }

  .project {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
  }
  .project-img {
    width: 80%;
    margin-bottom: 40px;
  }

  .project-desc {
    margin: 0 auto;
  }
}

@media (max-width: 800px) {
  .project-desc h3 {
    font-size: 1.5rem;
  }
  
  .project-desc p,
  .project-desc h4,
  .project ul {
    font-size: 0.675rem;
  }
   
  .project ul {
    padding-bottom: 10px;
  }
 
}

@media (max-width: 600px) {
  .projects-title h1 {
    font-size: 2.5rem;
  }

  .projects-title h2 {
    font-size: 1.5rem;
  }
}