@import "./header.css";
@import "./colors.css";
@import "./about.css";
@import "./projects.css";
@import "./education.css";
@import "./footer.css";

h1, h2, h3, h4 p, span, ul, a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--g1);
}

.button {
  display: block;
  padding: 10px 20px;
  background: linear-gradient(#10E8C7 0%, #25CCB3 100%);
  border-radius: 5px;
  color: var(--p9);
  font: 600 1.125rem/1.1 "Fira Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  width: max-content;
}

.button:hover {
  background: linear-gradient(#16bba2 0%, #238576 100%);
}

.section-divider {
  height: 8px;
  max-width: 1200px;
  background: linear-gradient(to right, var(--g1) 50%, var(--p5) 0%);
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1000px) {
  .section-divider {
    background: var(--p5);
  }

  .button {
    align-self: center;
  }
}

@media (max-width: 600px) {
  .button {
    font-size: 0.675rem;
  }
}